
.main .grid{
  width: 1rem;
  height: 1rem;
  margin: .05rem;
}

.background .grid{
  width: 1rem;
  height: 1rem;
  border: .05rem solid black;
}

.board{
  width: fit-content;  
  margin: 3rem auto;
  display: grid;
}

.main{
  margin: 0;
  position: absolute;
  z-index: 1;
}

.main .grid:hover{
  cursor: pointer;
  
}

.background{
  margin: .5625rem;
  z-index: 0;
}

.chess{
  border: 0.05rem solid black;
  margin: 0;
  border-radius: 100%;
}

.white{
  background-color: white;
}

.black{
  background-color: black;
}